/.env
/.env.local
/.env.local.php
/.env.*.local
/var
/vendor
/composer.lock
/symfony.lock
/.web-server-pid
/public/bundles
/public/uploads
/public/media
/public/images
.env

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
