<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; 1994-{{ "now"|date("Y") }} {{ site_name }} Reunion Committee</span>
    </div>
</footer>